* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
}
.controls {
  text-align: center;
}

.controls button {
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.svgbg {
  margin-top: 30px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color:black;
  overflow: hidden;
}

.svgcontainer {
  position: relative;
}

#typelayout path {
  opacity: 0;
}

.textanimation {
  animation: fadewords 0.2s forwards;
}

.containeranimation {
  animation: animatecontainer 62s linear 1s forwards;
}


/**
@keyframes animatecontainer {
0% 
100% 

/**
FULL { transform: rotate(0deg) translateX(0px) translateY(0px) scale(1);}

Phrase 1-1 ST { transform: rotate(0deg) translateX(4300px) translateY(4300px) scale(15);}
Phrase 1-1 END { transform: rotate(0deg) translateX(750px) translateY(4300px) scale(15);}
Phrase 1-1->1-2 TR { transform: rotate(0deg) translateX(750px) translateY(4300px) scale(15);}
Phrase 1-2 ST { transform: rotate(0deg) translateX(2000px) translateY(2000px) scale(10);}



Phrase 2-1 ST { transform: rotate(0deg) translateX(1800px) translateY(1500px) scale(7);}
Phrase 2-1 END { transform: rotate(0deg) translateX(1800px) translateY(1500px) scale(7);}